.vp-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 10vh;
}
.vp-heading{
    font-size: 34px;
    text-transform: capitalize;
    font-weight: 700;
}
.vp-ranking-p{
    font-size: 24px;
    font-weight: 500;
}
.vp-but-btn{
    margin-top: 2vh;
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 10px;
    border-color: transparent;
    width: 200px;
    font-size: 2rem;
    font-weight: bold;
}
.vp-but-btn:hover{
    background-color: rgb(1, 66, 1);
    transition: 0.5s;
}
.vp-add-rating{
    background-color: rgb(48, 27, 121);
    color: white;
    padding: 5px;
    border-radius: 10px;
    border-color: transparent;
    width: 250px;
    font-size: 2rem;
    font-weight: bold;
    
}
.vp-add-rating:hover{
    background-color: rgb(31, 2, 138);

}
.vp-c2{
    display: flex;
    flex-direction: row;
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    padding: 20px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.vp-img-area{
 display: flex;
 flex-direction: column;
 align-items: center;
 border-right: 1px solid #D3D3D3;
 padding: 10px 50px;
}
.vp-rnk-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
}
.vp-img{
    width: 200px;
    height: 250px;
}
.vp-bcd-found{
    font-size: 14px;
    font-weight: 700;
    color: rgb(114, 114, 114);
    margin: 10px 0px -10px 0px; 
}
.progress-bar1{
    width: 555px;
    height: 5px;
    background-color: none;
    margin-top: 10px;
}
.vp-cbd-title{
    font-weight: 700;
    margin-bottom: 0px;
    font-size: 20px;
}
.cbd-prgrs-area{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border-bottom: 1px solid #D3D3D3;
    padding-bottom: 30px;
}
.vp-rating-area{
    padding: 10px 0px 0px 50px;
}
.bar-txt{
display: flex;
align-items: center;
font-size: 12px;
}

@media screen and (max-width: 850px) {

.progress-bar1{
    width: 305px;
    height: 5px;
    background-color: none;
    margin-top: 10px;
}
}