.image {
    position: absolute;
    width: 1000px;
    bottom: 100px;
    height: 125px;
}

.msg-box-container {
    display: flex;
    justify-content: center;
    background-color: white;
}

.line1 {
    z-index: 100;
    height: 0px;
    width: 0px;
    position: absolute;
    bottom: 225px;
    height: 100px;
    left: 191px;
    animation: example 2s;
<<<<<<< HEAD
    border: .5px solid rgb(109, 132, 64)!important;
}

.maindiv {
    width: 1000px;
    height: 500px;
    /* min-Width:1300px;  */
    ;
=======
    border: .5px solid  rgb(109,132,64)!important;
}
.maindiv{ 

    width: 1000px; height: 500px;
    /* min-Width:1300px;  */;
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
    display: flex;
    justify-content: center;
    position: relative
}

@keyframes example {
    0% {
        height: 0
    }
    100% {
        height: 100px;
    }
}

.textme {
    height: 60px;
    width: 130px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    position: absolute;
    bottom: 329px;
    animation: divanimation 2s;
    left: 100px;
<<<<<<< HEAD
    border: 1px solid rgb(109, 132, 64)!important;
=======
    border: 1px solid   rgb(109,132,64)!important;
    
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
    border-radius: 10px
}

@keyframes divanimation {
    0% {
        color: white;
        border-color: white
    }
    99% {
        border-color: white;
        color: white
    }
    100% {
        border-color: white;
        color: black
    }
}

.line3 {
    z-index: 100;
    height: 0px;
    width: 0px;
    position: absolute;
    bottom: 225px;
    height: 140px;
    left: 374px;
    animation: line3 2s;
<<<<<<< HEAD
    border: .5px solid rgb(109, 132, 64)!important;
=======
    border: .5px solid   rgb(109,132,64)!important;
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
}

@keyframes line3 {
    0% {
        height: 0
    }
    100% {
        height: 140px;
    }
}

<<<<<<< HEAD
.textme2 {
=======
.textme2{
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
    height: 60px;
    padding: 5px;
    /* display: none; */
    width: 130px;
    display: flex;
    flex-wrap: wrap-reverse;
    /* overflow: hidden; */
    font-size: 14px;
    position: absolute;
    bottom: 370px;
    animation: divanimation 2s;
<<<<<<< HEAD
    left: 283px;
    border: 1px solid rgb(109, 132, 64)!important;
=======
    left:283px;
    border: 1px solid  rgb(109,132,64)!important;
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
    border-radius: 10px
}

.line4 {
    z-index: 100;
    height: 0px;
    width: 0px;
    position: absolute;
    bottom: 225px;
    height: 100px;
    left: 687px;
    animation: line4 2s;
<<<<<<< HEAD
    border: .5px solid rgb(109, 132, 64)!important;
=======
    border: .5px solid  rgb(109,132,64)!important;
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
}

@keyframes line4 {
    0% {
        height: 0
    }
    100% {
        height: 100px;
    }
}

.line5 {
    z-index: 100;
    height: 0px;
    width: 0px;
    position: absolute;
    bottom: 226px;
    height: 140px;
    left: 838px;
    animation: line3 2s;
<<<<<<< HEAD
    border: .5px solid rgb(109, 132, 64)!important;
=======
    border: .5px solid  rgb(109,132,64)!important;
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
}

@keyframes line3 {
    0% {
        height: 0
    }
    100% {
        height: 140px;
    }
}
<<<<<<< HEAD

=======
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
@keyframes line6 {
    0% {
        height: 0
    }
    100% {
        height: 50px;
    }
}
<<<<<<< HEAD

.commonclass {
=======
.commonclass{
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
    display: none
}

<<<<<<< HEAD
.textme2::after,
.textme::after {
    position: absolute;
    bottom: -5px;
    left: 69%;
    display: block;
    content: '';
    width: 7px;
    transform: rotate(47deg);
    height: 8px;
    border: solid 1px transparent;
    border-bottom-color: inherit;
    border-right-color: inherit;
    background: #fff;
}

@media only screen and (max-width: 1040px) {
    .milldleline {
=======
@media only screen and (max-width: 1040px) {
    .milldleline{
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
        z-index: 100;
        height: 0px;
        width: 0px;
        position: absolute;
        bottom: 157px !important;
        height: 100px;
        left: 270px !important;
        animation: line4 2s;
<<<<<<< HEAD
        border: .5px solid rgb(109, 132, 64)!important;
    }
    .milldlediv {
=======
        border: .5px solid   rgb(109,132,64)!important;
      }
      .milldlediv{
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
        height: 60px;
        padding: 5px;
        /* display: none; */
        width: 130px;
        background-color: white;
        display: flex;
        flex-wrap: wrap-reverse;
        /* overflow: hidden; */
        font-size: 14px;
        position: absolute;
        bottom: 212px !important;
        animation: divanimation 2s;
        left: 179px !important;
<<<<<<< HEAD
        border: 1px solid rgb(109, 132, 64)!important;
=======
        border: 1px solid   rgb(109,132,64)!important;
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
        border-radius: 10px
    }
<<<<<<< HEAD
    .maindiv {
        width: 500px;
        height: 500px;
        min-Width: 500px;
        position: relative
    }
=======
    .maindiv{ 
        width: 500px; height: 500px;
        min-Width:500px;
          position: relative }
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
    .image {
        position: absolute;
        width: 500px;
        bottom: 100px;
        height: auto;
    }
<<<<<<< HEAD
    #some {
=======
    #some{
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
        height: 60px;
        width: 130px;
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        position: absolute;
<<<<<<< HEAD
        bottom: 262px !important;
        animation: divanimation 2s;
        left: 324px !important;
        border: 1px solid rgb(109, 132, 64)!important;
=======
        bottom: 262px !important; 
        animation: divanimation 2s;
        left: 324px !important;
        border: 1px solid   rgb(109,132,64)!important;
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
        border-radius: 10px
    }
    .line1 {
        z-index: 100;
        height: 0px;
        width: 0px;
        position: absolute;
        bottom: 157px;
        height: 100px;
        left: 94px;
        animation: example 2s;
<<<<<<< HEAD
        border: .5px solid rgb(109, 132, 64);
=======
        border: .5px solid   rgb(109,132,64);
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
    }
    @keyframes example {
        0% {
            height: 0
        }
        100% {
            height: 100px;
        }
    }
    .textme {
        height: 60px;
        width: 130px;
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        position: absolute;
        bottom: 261px;
        animation: divanimation 2s;
        left: 3px;
<<<<<<< HEAD
        border: 1px solid rgb(109, 132, 64)!important;
=======
        border: 1px solid   rgb(109,132,64)!important;
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
        border-radius: 10px
    }
    @keyframes divanimation {
        0% {
            color: white;
            border-color: white
        }
        99% {
            border-color: white;
            color: white
        }
        100% {
            border-color: white;
            color: black
        }
    }
    .line3 {
        display: none;
    }
    .textme2 {
        display: none
    }
    .line4 {
        display: none
    }
    @keyframes line4 {
        0% {
            height: 0
        }
        100% {
            height: 100px;
        }
    }
    .line5 {
        z-index: 100;
        height: 0px;
        width: 0px;
        position: absolute;
        bottom: 157px;
        height: 100px;
        left: 415px;
        animation: line3 2s;
<<<<<<< HEAD
        border: .5px solid rgb(109, 132, 64)!important;
=======
        border: .5px solid   rgb(109,132,64)!important;
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
    }
    @keyframes line3 {
        0% {
            height: 0
        }
        100% {
            height: 140px;
        }
    }
    .commonclass {
        display: none
    }
    .textme2::after,
    .textme::after {
        position: absolute;
        bottom: -5px;
        left: 69%;
        display: block;
        content: '';
        width: 7px;
        transform: rotate(47deg);
        height: 8px;
        border: solid 1px transparent;
        border-bottom-color: inherit;
        border-right-color: inherit;
        background: #fff;
    }
}

.milldleline {
    z-index: 100;
    height: 0px;
    width: 0px;
    position: absolute;
    bottom: 225px;
    height: 50px;
    left: 548px;
    animation: line6 2s;
<<<<<<< HEAD
    border: .5px solid rgb(109, 132, 64) !important;
}

.milldlediv {
=======
    border: .5px solid   rgb(109,132,64) !important;
  }
  .milldlediv{
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
    height: 60px;
    padding: 5px;
    /* display: none; */
    width: 130px;
    background-color: white;
    display: flex;
    flex-wrap: wrap-reverse;
    /* overflow: hidden; */
    font-size: 14px;
    position: absolute;
    bottom: 280px;
    animation: divanimation 2s;
    left: 457px;
<<<<<<< HEAD
    border: 1px solid rgb(109, 132, 64)!important;
=======
    border: 1px solid   rgb(109,132,64)!important;
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
    border-radius: 10px
}

.milldlediv::after {
    position: absolute;
    bottom: -5px;
    left: 69%;
    display: block;
    content: '';
    width: 7px;
    transform: rotate(47deg);
    height: 8px;
    border: solid 1px transparent;
    border-bottom-color: inherit;
    border-right-color: inherit;
    background: #fff;
<<<<<<< HEAD
}

@media only screen and (max-width: 600px) {
    .milldleline {
=======
 
}




@media only screen and (max-width: 600px) {
    .milldleline{
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
        z-index: 100;
        height: 0px;
        width: 0px;
        position: absolute;
        bottom: 157px !important;
        height: 60px;
        left: 190px !important;
        animation: line4 2s;
<<<<<<< HEAD
        border: .5px solid rgb(109, 132, 64)!important;
    }
    .milldlediv {
=======
        border: .5px solid   rgb(109,132,64)!important;
      }
      .milldlediv{
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
        height: 60px;
        padding: 5px;
        /* display: none; */
        width: 100px;
        background-color: white;
        display: flex;
        flex-wrap: wrap-reverse;
        /* overflow: hidden; */
        font-size: 12px;
        position: absolute;
        bottom: 222px !important;
        animation: divanimation 2s;
        left: 120px !important;
<<<<<<< HEAD
        border: 1px solid rgb(109, 132, 64)!important;
        border-radius: 10px
    }
    .maindiv {
        width: 350px;
        height: 500px;
        min-Width: 350px;
        position: relative
    }
=======
        border: 1px solid   rgb(109,132,64)!important;
        border-radius: 10px

    }
    .maindiv{ 
        width: 350px; height: 500px;
        min-Width:350px;
          position: relative }
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
    .image {
        position: absolute;
        width: 350px;
        bottom: 117px;
        height: auto;
    }
<<<<<<< HEAD
    #some {
=======
    #some{
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
        height: 60px;
        width: 100px;
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
        position: absolute;
<<<<<<< HEAD
        bottom: 262px !important;
        animation: divanimation 2s;
        left: 222px !important;
        border: 1px solid rgb(109, 132, 64)!important;
=======
        bottom: 262px !important; 
        animation: divanimation 2s;
        left: 222px !important;
        border: 1px solid   rgb(109,132,64)!important;
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
        border-radius: 10px
    }
    .line1 {
        z-index: 100;
        height: 0px;
        width: 0px;
        position: absolute;
        bottom: 157px;
        height: 100px;
        left: 66px;
        animation: example 2s;
<<<<<<< HEAD
        border: .5px solid rgb(109, 132, 64);
    }
=======
        border: .5px solid   rgb(109,132,64);
    }
    
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
    @keyframes example {
        0% {
            height: 0
        }
        100% {
            height: 100px;
        }
    }
<<<<<<< HEAD
=======
    
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
    .textme {
        height: 60px;
        width: 100px;
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
        position: absolute;
        bottom: 261px;
        animation: divanimation 2s;
        left: -4px;
<<<<<<< HEAD
        border: 1px solid rgb(109, 132, 64)!important;
        border-radius: 10px
    }
=======
        border: 1px solid   rgb(109,132,64)!important;
        border-radius: 10px

    }
    
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
    @keyframes divanimation {
        0% {
            color: white;
            border-color: white
        }
        99% {
            border-color: white;
            color: white
        }
        100% {
            border-color: white;
            color: black
        }
    }
<<<<<<< HEAD
    .line3 {
        display: none;
    }
    .textme2 {
        display: none
    }
    .line4 {
        display: none
=======

    .line3{
       display: none;
    }
   

    .textme2{
       display: none
    }
    
    .line4{
      display:none
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
    }
    @keyframes line4 {
        0% {
            height: 0
        }
        100% {
            height: 60px;
        }
    }
<<<<<<< HEAD
    .line5 {
=======
    .line5{
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
        z-index: 100;
        height: 0px;
        width: 0px;
        position: absolute;
        bottom: 157px;
        height: 100px;
        left: 292px;
        animation: line3 2s;
<<<<<<< HEAD
        border: .5px solid rgb(109, 132, 64)!important;
=======
        border: .5px solid   rgb(109,132,64)!important;
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
    }
    @keyframes line3 {
        0% {
            height: 0
        }
        100% {
            height: 100px;
        }
    }
<<<<<<< HEAD
    .commonclass {
        display: none
    }
    .textme2::after,
    .textme::after {
        position: absolute;
        bottom: -5px;
        left: 69%;
        display: block;
        content: '';
        width: 7px;
        transform: rotate(47deg);
        height: 8px;
        border: solid 1px transparent;
        border-bottom-color: inherit;
        border-right-color: inherit;
        background: #fff;
    }
}
=======
    .commonclass{
        display: none
    }
.textme2::after, .textme::after{
    position: absolute;
    bottom: -5px;
    left: 69%;
    display: block;
    content: '';
    width: 7px;
    transform: rotate(47deg);
    height: 8px;
    border: solid 1px transparent;
    border-bottom-color: inherit;
    border-right-color: inherit;
    background: #fff;
}
    
  }
>>>>>>> 570f1757036234235fe74877e70cf3037ff85e03
