.infographic-container{
    background-color: white;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-img{
    width: 900px;
}
.info-img2{
    width: 350px;
}
/* .info-hr1{
 height: 100px;
 margin: 20px 0px;
border-left: 1px solid black;   
} */
@media screen and (max-width: 850px) {
    .info-img{
      width: 600px;
    }
}
@media screen and (max-width: 600px) {
    .info-img{
      display: none;
    }
}
@media screen and (min-width: 600px) {
    .info-img2{
       display: none;
    }
}